/* .container {
  display: flex; /* or inline-flex */
/* } */

/* .container {
  flex-direction: row | row-reverse | column | column-reverse;
} */

/* .container{
  flex-wrap: nowrap | wrap | wrap-reverse;
} */
/* flex-flow: <‘flex-direction’> || <‘flex-wrap’>
*/

/* .container {
  justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly;
} */

/* .container {
  align-items: flex-start | flex-end | center | baseline | stretch;
} */

/* .container {
  align-content: flex-start | flex-end | center | space-between | space-around | stretch;
} */

/* .item {
  order: <integer>; /* default is 0 */
/* } */

/* .item {
  flex-grow: <number>;default 0
  flex-shrink: <number>;default 1
} */

/* .item {
  align-self: auto | flex-start | flex-end | center | baseline | stretch;
} */

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid silver;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  
.wrap li {
  background: gold;
}

.wrap-reverse         { 
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}  
.wrap-reverse li {
  background: deepskyblue;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 10px;
  
  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.navigation {
  list-style: none;
  margin: 0; 
  background: #8e24aa;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

.navigation a:hover {
  background: darken(#8e24aa, 12%);
}

@media (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }

  .navigation:last-child {
    border-bottom: none;
  }
}